#!/usr/bin/env nextflow
params{
    reads="$baseDir/Sequences/*_{1,2}.fastq.gz"
    transcriptome="$baseDir/Sequences"
    multiqc="multiqc"
    outdir= "$baseDir/results"

}


singularity{

    enabled=true
}

process {
    
    withName:"cutadapt"{
        container='file://Singularity_Containers/cutadapt'
    }
}


// process {
//     withName:"cutadapt"{
//         container='Singularity_Containers\cutadapt.simg'
//     }

//     withName:"fastqc"{
//         container="Singularity_Containers\fastqc.simg"
//     }
//     withName:"multimc"{
//         container='Singularity_Containers\multiqc.simg'
//     }

//     withName:"Annotation"{
//         container="Singularity_Containers\hisat2.simg"
//     }

//     withName:"Alignment"{
//         container="Singularity_Containers\hisat2.simg"
//     }

//     withName:"ReadQualityStatistics"{
//         container="Singularity_Containers\samtools.simg"
//     }

// }